:root {
    --palette-0: #E1FFE6;
    --palette-1: #93B7BE;
    --palette-2: #fafdf9;
    --palette-3: #D5C7BC;
    --palette-4: #785964;
    --palette-5: #212529;
    --palette-6: #275068;
}

body {
    background-image: linear-gradient(180deg, var(--palette-5) 0%, var(--palette-4) 40%, var(--palette-0) 90%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-ext {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
}

.body-link:link, .body-link:visited {
    text-decoration: none;
    font-weight: bold;
    color: var(--palette-6);
}
  
.body-link:hover {
    text-decoration: none;
    font-weight: bold;
    color: var(--palette-4);
}

.hero {
    height: 51vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/mtn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--palette-0);
    text-shadow: 4px 4px 4px var(--palette-5);
}

.hero-title {
    font-size: 10em;
}

.hero-lite {
    font-weight: lighter;
    font-size: x-large;
}

.btn-pal-1 {
    color: var(--palette-2);
    background-color: var(--palette-1);
}

.btn-pal-1:hover, .btn-pal-1.active:hover {
    color: var(--palette-3);
    background-color: var(--palette-4);
}

.card-feat-btn {
    width: 47%;
    position: absolute;
    bottom:   0;
    margin-bottom: 1em;
}

.about-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.card-header-pal {
    color: var(--palette-2);
    background-color: var(--palette-5);
}

.card-body-pal {
    color: var(--palette-5);
    background-color: var(--palette-2);
    border-color: var(--palette-5);
    border-radius: 5px;
}

.card-img-bdr {
    width: 100%;
    border: var(--palette-5) solid 1px;
}

.card-no-border  {
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.img-icon {
    max-width: 25px; 
}

.about-offset {
    margin-top: 90px;
}

.spacer {
    height: 4.5rem;
}

.navbar {
    width: 100%;
    height: 4.5rem;
}

.navbar-pal {
    background-color: var(--palette-5);
}

.brand-pal {
    color: var(--palette-4);
    font-size: x-large;
}

.brand-pal:hover {
    color: var(--palette-3);
}

.nav-link-pal {
    color: var(--palette-1);
    font-size: x-large;
}

.nav-link-pal:hover {
    color: var(--palette-2);
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.display-flex {
    display: flex;
}

.bottom-img {
    width: 100%;
}

.footer-div {
    width: 100%;
    color: var(--palette-2);
    background-color: var(--palette-5);
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}